.navbar.custom {
    width: 50%;
    margin: 0 auto;
}
body {
    width: 100%;
    height: 100%;
    background-position: 68%;
    background-attachment: fixed;
}
.container-principal {
    align-self: center;
    background-color: rgba(255, 255, 255, 0.5);
    padding-top: 20px;
    width: 40%;
    height: 40%;
    margin-left: 30%;
    margin-top: 10%;
}
.container-principal-produtos {
    align-self: center;
    width: 100%;
    height: 40%;
    margin-top: 5%;
}
header {
    width: 100%;
    height: 25%;
}
header .page-header {
    margin-top: 10%;
}
.form_acesso {
    margin-top: 3%;
}
footer {
    margin-top: 50px;
    text-align: center;
    font-size: 1em;
}
footer a span {
    color: #FFF;
    font-weight: bold;
}
div.freeza {
    height: 50px;
    font-style: italic;
    font-family: sans-serif;
    text-align: center;
    margin-top: 10px;
}
div.freeza span {
    color: #FFF;
    font-size: 12px;
    font-weight: bolder;
}
div.freeza img {
    height: 50px;
    vertical-align: middle;
    margin-left: 10px;
}
.container-medio {
    align-self: center;
    background-color: rgba(255, 255, 255, 0.5);
    padding-top: 20px;
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 2%;
}
.div-select {
    border: solid;
    width: 100%;
    padding-left: 10px;
    height: 200px;
    background-color: #f5f5f5;
    border-color: gray;
    border-radius: 5px;
    overflow-y: scroll;
}

.table-hover{
    border: 1px solid #ddd;
    border-radius: 4px;
}

.table-hover thead{
    background-color: #f5f5f5;
    color: #000;
}

.container-grafico{
    margin-top: 25px;
    width:  auto;
    height: auto;
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: 5%;
    margin-right: 5%;
}

.rodape{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    color: #fff;
    text-align: center;
    z-index: 10;
    padding-top: 10px;
}